html,
body {
  overflow: hidden !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#doc-content {
  overflow-y: auto !important;
  height: 100vh !important;
  padding-bottom: 80px !important;
  box-sizing: border-box;
}

.footer {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  left: var(--side-nav-fixed-width) !important;
  width: auto !important;

  height: 30px !important;
  padding: 5px 20px !important;
  margin: 0 !important;

  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;

  background-color: var(--page-background-color) !important;
  border-top: 1px solid var(--separator-color);
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .footer {
    left: 0 !important;
  }
}
